{% extends "base.html" %}

{% block content %}
	{% if message %}
	<div class="alert alert-success">
		{{message}}
	</div>
	{% endif %}
	
	<div class="page-header">
		<h1>{{player.name}}</h1>
		<a class="btn btn-success" href="{{base_path}}/urheilijat/{{player.id}}/edit">Muokkaa</a>
		
		<form method="post" action="{{base_path}}/urheilijat/{{player.id}}/remove">
			<button type="submit" class="btn btn-danger">Poista</button>
		</form>
	</div>

	<div class="content">
		<div class="row">		
			<div class="col-xs-12">
				<p>{{player.description}}</p>
			</div>
		</div>
	</div>
{% endblock %}
