{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% import "macros/messages.html" as messages %}
{% block content %}
  <h1>Lisää Laji</h1>

  {% if errors %}
	  {{messages.error_message_multi(errors)}}
  {% endif %}

  {% set action = base_path ~ '/sports' %}
  {% set nameval = attributes.name %}
  {% set descval = attributes.description %}
  {% set sort = attributes.sort_order %}
  {% set cancelurl = base_path ~ '/sports' %}
  {% set canceltext = 'Peruuta' %}
  {% set submittext = 'Lisää' %}
  {% set cancelbutton = forms.cancel_button(cancelurl, canceltext) %}
  {% set submitbutton = forms.submit_button(submittext) %}
  {{forms.sport_form(action, nameval, descval, sort, cancelbutton, submitbutton)}}

{% endblock %}