{% extends "base.html" %}
{% import "macros/messages.html" as messages %}
{% import "macros/forms.html" as forms %}
{% block content %}

{% if message %}
	{{messages.success_message_single("#{message}")}}
{% endif %}

<div class="page-header">
	<h1>Lajit</h1>
	{% if admin_controls %}
		{{forms.new_button("#{base_path}/sports/new", "Lisää laji")}}
		{{forms.new_button("#{base_path}/results/new", "Lisää tulos")}}
	{% endif %}
</div>

<div class="content">
	<div class="row">
		{% for sport in sports %}
		<div class="col-xs-6 col-md-3">
			<a href="{{base_path}}/sports/{{sport.id}}">{{sport.name}}</a>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
