{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% import "macros/messages.html" as messages %}
{% import "macros/result_tables.html" as result_tables %}
{% block content %}

{% if message %}
	{{messages.success_message_single("#{message}")}}
{% endif %}

<div class="page-header">
	<h1>{{sport.name}}</h1>
	{% if admin_controls %}
		{{forms.edit_button("#{base_path}/sports/#{sport.id}/edit")}}
		{{forms.remove_button("#{base_path}/sports/#{sport.id}/remove")}}
	{% endif %}
</div>


<div class="content">
	<div class="row">		
		<div class="col-xs-12">
			<p>{{sport.description}}</p>
		</div>
	</div>
</div>

{% if results %}
	{{result_tables.resultsBySport(base_path, results)}}
{% endif %}

{% endblock %}
