#main-container{
  max-width: 1200px;
  padding: 10px 25px;
  margin: 0px auto;
}

.navbar .container-fluid{
  max-width: 1200px;
  margin: 0px auto;
}

.right-border {
  border-right: 1px solid #ccc;
}

button.logout {
    border: none;
    color: #777;
    background-color: transparent;
    line-height: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
}

@media (min-width: 768px) {
  button.logout {
      padding-top: 15px;
      padding-bottom: 15px;
  }
}





button.logout:hover,button.logout:focus {
    color: #333;
    background-color: transparent;
}