{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% import "macros/messages.html" as messages %}
{% block content %}
  <h1>Muokkaa urheilijaa: {{player.name}}</h1>

    {% if errors %}
	    {{messages.error_message_multi(errors)}}
    {% endif %}

      {% set action = base_path ~ '/players/' ~ player.id ~ '/edit' %}
      {% set nameval = player.name %}
      {% set descval = player.description %}
      {% set cancelurl = base_path ~ '/players/' ~ player.id %}
      {% set canceltext = 'Peruuta' %}
      {% set submittext = 'Tallenna' %}
      {% set cancelbutton = forms.cancel_button(cancelurl, canceltext) %}
      {% set submitbutton = forms.submit_button(submittext) %}
      {{forms.sport_player_form(action, nameval, descval, cancelbutton, submitbutton)}}
      
{% endblock %}