{% extends "base.html" %}
{% import "macros/messages.html" as messages %}
{% block content %}
	
	{% if message %}
		{{messages.success_message_single("#{message}")}}
	{% endif %}

	<div class="page-header">
		<h1>Urheilijat</h1>
		{% if admin_controls %}
		<a class="btn btn-success" href="{{base_path}}/players/new">Lisää uusi</a>
		
		{% endif %}
		
	</div>


<div class="content">
	<div class="row">
		{% for player in players %}
		<div class="col-xs-6 col-md-3">
			<a href="{{base_path}}/players/{{player.id}}">{{player.name}}</a>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
