{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% import "macros/messages.html" as messages %}
{% import "macros/result_tables.html" as result_tables %}
{% block content %}

{% if message %}
	{{messages.success_message_single("#{message}")}}
{% endif %}

<div class="page-header">
	<h1>{{player.name}}</h1>
	{% if admin_controls %}
		{{forms.edit_button("#{base_path}/players/#{player.id}/edit", "Muokkaa urheilijaa")}}
		{{forms.remove_button("#{base_path}/players/#{player.id}/remove", "Poista urheilija")}}
	{% endif %}
</div>

<div class="content">
	<div class="row">		
		<div class="col-xs-12">
			<p>{{player.description}}</p>
		</div>
	</div>
</div>

{% if results %}

	{% if admin_controls %}
		{% set tableheadings = ["Urheilija", "Tulos", "Saavutettu", "", ""] %}
	{% else %}
  		{% set tableheadings = ["Urheilija", "Tulos", "Saavutettu"] %}
	{% endif %}
		
	{{result_tables.resultsHead("Tulokset eri lajeissa", tableheadings)}}

    {% for result in results %}

		{% if admin_controls %}
			{% set editbutton = forms.edit_button("#{base_path}/results/#{result.id}/edit")  %}
			{% set removebutton = forms.remove_button("#{base_path}/results/#{result.id}/remove")  %}
			{% set admintools = [editbutton, removebutton] %}
		{% else %}
			{% set admintools = null %}
		{% endif %}
		
		{{result_tables.resultsBodySport(base_path, result, admintools)}}

	{% endfor %}

    {{result_tables.resultsFooter()}}

{% endif %}


{% endblock %}
