{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% import "macros/messages.html" as messages %}
{% import "macros/result_tables.html" as result_tables %}
{% block content %}

{% if message %}
	{{messages.success_message_single("#{message}")}}
{% endif %}

<div class="page-header">
	<h1>{{player.name}}</h1>
	{% if admin_controls %}
		{{forms.edit_button("#{base_path}/players/#{player.id}/edit")}}
		{{forms.remove_button("#{base_path}/players/#{player.id}/remove")}}
	{% endif %}
</div>

<div class="content">
	<div class="row">		
		<div class="col-xs-12">
			<p>{{player.description}}</p>
		</div>
	</div>
</div>

{% if results %}
  	{% set tableheadings = ["Laji", "Tulos", "Saavutettu"] %}
    {{result_tables.resultsHead("Tulokset eri lajeissa", tableheadings)}}
    {{result_tables.resultsBodySport(base_path, results)}}
    {{result_tables.resultsFooter()}}
{% endif %}

{% endblock %}
